{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row my-3">
        <div class="col-md-12">
            <h2>Products</h2>
            <p>We offer fine <strong>coffee</strong> blends, delicious <strong>toppings</strong> and useful <strong>accessories</strong>.</p>

            <div class="row">
                <div class="col-md-4 offset-md-4">
                    {{ include('product/_searchform.html.twig', {'button_label': 'Search'}) }}
                </div>
            </div>
            {% if productfilter == 'filtered' %}
                <p>Filtered by: <strong>{{ category }}</strong> <a class="btn btn-light btn-sm border" href="/product/">&#10005; Clear Filter</a></p>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">{{ product.category }}</div>
                        <a href="{{ path('product_show', {'productId': product.productId}) }}" class="p-3"><img src="{{ product.image }}" class="card-img-top img-fluid rounded" alt="{{ product.name }}"></a>
                        <div class="card-body text-center">
                            <h5 class="card-title"><a href="{{ path('product_show', {'productId': product.productId}) }}" class="text-decoration-none text-secondary">{{ product.name }}</a></h5>

                            {% if not product.discountedPrice %}
                                <p><strong>Price: € {{ product.price|number_format(2) }}</strong></p>
                            {% endif %}

                            {% if product.discountedPrice %}
                                <div class="alert alert-warning">
                                    <del>Normal Price: € {{ product.price|number_format(2) }}</del><br/>
                                    <strong>Discounted Price: € {{ product.discountedPrice|number_format(2) }}</strong>
                                </div>
                            {% endif %}

                            <p><small>{{ product.quantityOnStock }} in stock</small></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-warning" href="{{ path('product_show', {'productId': product.productId}) }}">Details</a>
                            {% if app.user %}
                                {% if app.user.enabled == 1 %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-secondary" href="{{ path('product_edit', {'productId': product.productId}) }}">Edit</a>
                                    {% endif %}
                                    <a class="btn btn-primary" href="{{ path('product_buy', {'productId': product.productId}) }}">Buy</a>
                                {% endif %}
                            {% endif %}
                            {% if not app.user %}
                                <p class="small">Interested in this item?<br>Please <a href="/login">login</a> or <a href="/register">register</a> to buy.</p> 
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% else %}
        <div class="col-md-12 mb-4 text-center">
            <h4>No Products Found</h4>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
